@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-300;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
}

body{
    @apply bg-minizo-dark
}

.p-password input {
    width: 100%!important;
  }